/holamundo/nbproject/private/
/holamundo/build/
/holamundo/dist/
/JavaEECurso/nbproject/private/
/JavaEECurso/build/
/JavaEECurso/dist/
/prueba1/nbproject/private/
/prueba1/build/
/prueba1/dist/
/prueba/dist/
/Vista/nbproject/private/
/Vista/build/
/Vista/dist/
/CrudWeb/nbproject/private/
/CrudWeb/build/
/CrudWeb/dist/
/facesTest/nbproject/private/
/facesTest/build/
/facesTest/dist/
/HibernateTest/nbproject/private/
/HibernateTest/build/
/HibernateTest2/nbproject/private/
/HibernateTest2/build/
/HibernateTest2/dist/
/ScrumToys/nbproject/private/
/ScrumToys/build/
/PetCatalog/nbproject/private/
/ScrumToys/dist/
/PetCatalog/build/
/AsyncRequest/nbproject/private/
/AsyncRequest/dist/
/AsyncRequest/build/
/HibCheer/nbproject/private/
/HibCheer/build/
/HibCheer/dist/
/RasPiServer/nbproject/private/
/RasPiServer/build/
/RasPiServer/dist/
/RasPiClient2/nbproject/private/
/RasPiClient2/build/
/AudioTest/nbproject/private/
/AudioTest/build/